.menuBox {
    position: absolute;
    width: 200px;
    top: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    cursor: pointer;
    .textTitle {
        font-weight: 700;
        padding: 4px 10px;
        .closeMenu {
            position: absolute;
            top: 4px;
            right: 10px;
            font-weight: normal;
            color: #ccc;
            &:hover {
                color: #619BED;
            }
        }
    }
    .menuList {
        padding: 4px 10px;
        &:hover {
            color: #619BED;
            background: rgba(#619BED,.3);
        }
    }
    .delBtn {
        text-align: center;
        padding: 10px 0;
    }
}